body {
  margin: 0;
  background-size: cover;
  background-image: url('../img/libros.jpg');
  background-repeat: no-repeat;
}

.contenedorgrande {
  background-color: rgba(0, 0, 0, 0.78);
  width: 100%;
}
