.container {
  width: 1200px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageLogin {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(../login/libro2.png);
  background-repeat: no-repeat;
}

.bigContainer {
  height: 670px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botons {
  padding-top: 20px;
}

body {
  margin: 0;
  background-size: cover;
  background-image: url(../img/libros.jpg);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
  .imageLogin {
    background-color: lightblue;
  }
}
